<div>
<h3>Корзина</h3>
<table class="table table-hover">
    <tr>
        <td>Название товара</td>
        <td>Количество</td>
        <td>Цена</td>
    </tr>
    <tbody>
    <tr ng-repeat="item in Cart.items">
        <td>{{item.title}}</td>
        <td>{{item.quantity}}
            <button class="btn btn-primary" ng-click="removeFromCart(item.productId)">-</button>
            <button class="btn btn-primary" ng-click="addToCart(item.productId)">+</button></td>
        <td>{{item.pricePerProduct + ' x ' + item.quantity + ' = ' + item.price}}</td>
    </tr>
    <tr>
        <td></td>
        <td>Итого</td>
        <td>{{Cart.totalPrice}}</td>
    </tr>
    </tbody>
</table>
<p>
    <button class="btn btn-secondary" ng-click="clearCart()">Очистить корзину</button>
    <button class="btn btn-secondary" onclick="window.location.href='#!/orders';">Перейти к оформлению</button>
    <button class="btn btn-danger" ng-click="showCurrentUserInfo()">Обо мне</button>
</p>

</div>